img{
    margin-top:20px;
    border:5px solid lightgrey; 
    border-radius: 20px;
    padding:20px;
}
.achievement_text span 
{ color: orange; }
.movie_head 
{ font-size: 20px; padding: 6px 22px; border-radius: 10px; margin-bottom: 15px; }
 .movie_head i 
 { float: right; }